/* body fetures*/
html,body
{
    background-color: rgb(231, 231, 231);
    height: 100%;
    margin: 0px;
    overflow: auto;
    font-family: Sans-serif;
    

}

.container{  
   
    min-height: 100%;
}

header{
    text-align: center;
    background-color:rgb(20, 17, 17) ;
    box-shadow: 0 0 3px #0f0f0f;
    padding: 35px;
}

.logo{
    float: left;
    width: 140px;
    margin-top: -44px;
    margin-left: -20px;
}
.logo1{
    float: left;
    width: 140px;
    margin-top: -5px;
    margin-left: 0px;
}
nav a{
    display: inline;
    padding-left: 45px;
    text-decoration: none;
    padding: 20px;
    transition: 0.5s ease;
    font-size: large;
}


 nav a:hover{
    
    color: rgb(14, 77, 119);

}
.active{
    
    color:rgb(32, 176, 243);

}


/* FOOTER*/
.footer{
    
    background: rgb(20, 17, 17);
    color: rgb(228, 218, 218);
    height: 400px;
    position: relative;
}
.p1{
    font-size: large;
    text-align: justify;
    margin-top: 20px;
    clear: left;
    margin-right: 20px;
    
}
.p2{
    margin-top: 10px;
}

.contact, .socials{
    margin-left: 15px;
}


/*
.footer .footer-bottom{
    background: rgb(64, 147, 185);
    color: #fdfdfd;
    width: 100%;
    height: 45px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    


}*/

.footer .footer-content{
    height: 400px;
    display: flex;
    padding-left:10px ;
    


}

.footer .footer-content .footer-section{
    flex: 1;
    

}



/*designed by*/
.designed{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    margin-top: 40px;
    padding: 20px 20px 20px 20px  ;
    width: 50%;
    margin-left: 125px;
    
    

}
.designed:hover{
    box-sizing: border-box; 
    border: 1px solid #269af8;;
    width: 50%;
    transition: 0.5s ease-in-out;
    color: #269af8;
    padding: 20px 20px 20px 20px  ;
    
    
    
}
.p3{
    text-align: center;
    margin-top: 150px;
}
.hr{
    margin-left: 150px;
    margin-right: 150px;
}



 


.fa-facebook  { 
    padding: 10px; 
      color: white;  
      border: 1px solid rgb(202, 199, 199);
       border-radius: 9px;
      
} 
.fa-facebook:hover{
    transition: 0.5s ease-in-out;
    color: #269af8;
    border: 1px solid #269af8;
    border-radius: 9px;
} 
.fa-twitter { 
    padding: 10px;  
    border: 1px solid rgb(202, 199, 199);
  border-radius: 9px;
  color: white; 
 
}  
.fa-twitter:hover{
    transition: 0.5s ease-in-out;
    color: #269af8;
    border: 1px solid #269af8;
    border-radius: 9px;
} 

.fa-instagram {  
    padding: 10px; 
    border: 1px solid rgb(202, 199, 199);
  border-radius: 9px;
  color: white;  
}  
.fa-instagram:hover{
    transition: 0.5s ease-in-out;
    color: #269af8;
    border: 1px solid #269af8;
    border-radius: 9px;
} 
.fa-youtube {  
    padding: 10px; 
    border: 1px solid rgb(202, 199, 199);
    border-radius: 9px;
  color: white;  
}  
.fa-youtube:hover{
    transition: 0.5s ease-in-out;
    color: #269af8;
    border: 1px solid #269af8;
    border-radius: 9px;
} 
.fa .fa-envelope,.fa-phone{
    border: none;
}


.footer .footer-content .contact-form .contact-input{
    background: #202325;
    color: blanchedalmond;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.5rem;
    border: none;
}
.footer .footer-content .contact-form .contact-input:focus{
  background: rgb(13, 13, 14);
}
input,textarea{
    width: 85%;
    text-decoration:none;
}
.btn-big{
    background: dodgerblue;
    padding: 12px;
    border: none ;
    border-radius: 1%;
    float: right;
    margin-right: 25px;
}

